In [1]:
# First Program
print("Hello World")

Hello World

In [2]:
# Komentar di Python

In [16]:
#Variabel
sapa = "Selamat Pagi"
sapa1 = "Selamat Siang"
sapa_dua = "Selamat Siang"
print(sapa, sapa1, sapa_dua, sep=',')

Selamat Pagi,Selamat Siang,Selamat Siang

In [18]:
# Data Types
var_string = "Ayok belajar AI"
print(var_string)
print(type(var_string))

Ayok belajar AI
<class 'str'>

In [27]:
var_integer = 99
print(var_integer)
print(type(var_integer))

99
<class 'int'>

In [21]:
var_float = 10.7
print(var_float)
print(type(var_integer))

10.7
<class 'int'>

In [26]:
print(var_string, var_integer, var_float, sep=',')

Ayok belajar AI,99,10.7

In [31]:
var_boolean = True
if var_boolean:
    print("Nilainya True")
print(type(var_boolean))

Nilainya True
<class 'bool'>

In [32]:
# Math Operation
tambah = 1 + 99
print(tambah)

100

In [37]:
var1 = "Halo"
var2 = "World"
# var3 = var1 + var2
print(var1 + " " + var2)

Halo World

In [38]:
kurang1 = 99
kurang2 = 77
kurang3 = kurang1 - kurang2
print(kurang3)

22

In [43]:
kali1 = 56
kali2 = 65
kali3 = kali1 * kali2
print(kali3)

3640

In [45]:
bagi1 = 50
bagi2 = 3
bagi3 = bagi1 / bagi2
print(int(bagi3))

16

In [47]:
modul1 = 10
modul2 = 2
modul3 = modul1 % modul2

In [48]:
if (modul1 % 2 == 0):
    print("Benar")

Benar

In [49]:
expo = 67
expo1 = 66
expo3 = expo ** expo1
print(expo3)

3318462988691948907650286963263936624986304603548631220018837549610370323146990243798546901044939902470099862517164959369

In [62]:
int_div = 50 // 3
print(int_div)

16

In [64]:
comp = 1+3j
print(comp)
print(type(comp))

(1+3j)
<class 'complex'>

In [ ]:
# Operator Penugasan
satu = "Halo"

In [54]:
angka = 3
angka += 3
print(angka)

6

In [56]:
angka = 4
angka = 5
angka = 6
print(angka)

6

In [61]:
local = "Machine Learning"
def Scope():
    global local
    local = "Learning Machine"
    print(local)
Scope()
print(local)

for i in range(1,10):
    print(i)
    def fungsi():
        print(x)
        def fingsi2():

Learning Machine
Learning Machine

In [65]:
fal_se = 0
if fal_se:
    print("Nilainya True")
else:
    print("Nilainya False")

Nilainya False

## Operator Perbandingan

In [66]:
if 5 < 6:
    print("5 Kecil dari 6")

5 Kecil dari 6

In [67]:
num = 5
num2 = 7
if num == num2:
    print("Sama ya?")
else:
    print("Tidak sama")

Tidak sama

In [68]:
if 7 != 8:
    print("Ngga sama")

Ngga sama

## Operasi String

In [74]:
greeting = " Halo "
print(greeting.strip())
greeting2 = "hai"

Halo

In [76]:
print(greeting2.upper())

HAI

In [78]:
taglile = "Ayo belajar AI"
print(taglile)
print(taglile.replace("AI", "Artificial Intellegence"))

Ayo belajar AI
Ayo belajar Artificial Intellegence

In [2]:
import calendar
cal = calendar.HTMLCalendar(calendar.SUNDAY)
month = cal.formatmonth(2021,1)
print(month)

<table border="0" cellpadding="0" cellspacing="0" class="month">
<tr><th colspan="7" class="month">January 2021</th></tr>
<tr><th class="sun">Sun</th><th class="mon">Mon</th><th class="tue">Tue</th><th class="wed">Wed</th><th class="thu">Thu</th><th class="fri">Fri</th><th class="sat">Sat</th></tr>
<tr><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="fri">1</td><td class="sat">2</td></tr>
<tr><td class="sun">3</td><td class="mon">4</td><td class="tue">5</td><td class="wed">6</td><td class="thu">7</td><td class="fri">8</td><td class="sat">9</td></tr>
<tr><td class="sun">10</td><td class="mon">11</td><td class="tue">12</td><td class="wed">13</td><td class="thu">14</td><td class="fri">15</td><td class="sat">16</td></tr>
<tr><td class="sun">17</td><td class="mon">18</td><td class="tue">19</td><td class="wed">20</td><td class="thu">21</td><td class="fri">22</td><td class="sat">23</td></tr>
<tr><td class="sun">24</td><td class="mon">25</td><td class="tue">26</td><td class="wed">27</td><td class="thu">28</td><td class="fri">29</td><td class="sat">30</td></tr>
<tr><td class="sun">31</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td></tr>
</table>

In [8]:
x = 1
star = ""
while x < 6:
    star += "*"
    x+=1
    
    print(star)

*
**
***
****
*****

In [10]:
deret = [1,2,3,4,5,6,7,8,9,10] 
print(deret)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [18]:
for i in deret: 
    print(i)

1
2
3
4
5
6
7
8
9
10

In [22]:
for i in range(1,100):
    if i%2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [15]:
input_x = int(input("masukan bilangan yg mau kamu cari:"))
for a in range(1,1000):
    if a == input_x:
        print("ada")

masukan bilangan yg mau kamu cari:10
ada